<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin - Register</title>

        {% block stylesheets %}
            <!-- Custom fonts for this template-->
            <link href="{{ asset ('Backend/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">

            <!-- Page level plugin CSS-->
            <link href="{{ asset ('Backend/vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet">

            <!-- Custom styles for this template-->
            <link href="{{ asset ('Backend/css/sb-admin.css')}}" rel="stylesheet">



            <link href="{{ asset ('Backend/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
            <link href="{{ asset ('Backend/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet">
            <link href="{{ asset ('Backend/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}" rel="stylesheet">
            <link href="{{ asset ('Backend/vendor/animate/animate.css')}}" rel="stylesheet">
            <link href="{{ asset ('Backend/vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet">
            <link href="{{ asset ('Backend/vendor/select2/select2.min.css')}}" rel="stylesheet">
            <link href="{{ asset ('Backend/css/util.css')}}" rel="stylesheet">
            <link href="{{ asset ('Backend/css/main.css')}}" rel="stylesheet">

        {% endblock %}


    </head>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('Backend/images/img-01.jpg');">
            <div class="wrap-login100 p-t-20 p-b-30">


                <span class="login100-form-title p-t-20 p-b-45">
                    Register an Account
                </span>


                <div class="card-body">
                    {% trans_default_domain 'FOSUserBundle' %}

                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"> 



                        <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">


                            {{ form_widget(form.username, { 'attr': {'class': 'input100', 'placeholder': 'form.username'|trans } }) }}
                            {{ form_errors(form.username) }}

                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>



                        <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">


                            {{ form_widget(form.email, { 'attr': {'class': 'input100', 'placeholder': 'form.email'|trans } }) }}
                            {{ form_errors(form.email) }}

                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>





                        <div class="wrap-input100 validate-input m-b-10">

                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input100', 'placeholder': 'form.password'|trans } }) }}
                            {{ form_errors(form.plainPassword.first) }}                           
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>




                        <div class="wrap-input100 validate-input m-b-10">

                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input100', 'placeholder': 'form.password_confirmation'|trans } }) }}
                            {{ form_errors(form.plainPassword.second) }}
                            {{ form_rest(form) }}
                            <span class="symbol-input100">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                </div>


                <input class="login100-form-btn" type="submit" id="_submit" name="_submit" value="Register" value="{{ 'registration.submit'|trans }}" />

                <div class="text-center">
                    <a class="d-block small mt-3" href="{{path('index2')}}">Login Page</a>
                    <a class="d-block small" href="{{path('fos_user_resetting_request')}}">Forgot Password?</a>
                </div>
            </div>


            </form>


        </div>
    </div>
</div>









<!-- Bootstrap core JavaScript-->
<script src="{{asset('Backend/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{asset('Backend/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{asset('Backend/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Page level plugin JavaScript-->
<script src="{{asset('Backend/vendor/chart.js/Chart.min.js')}}"></script>
<script src="{{asset('Backend/vendor/datatables/jquery.dataTables.js')}}"></script>
<script src="{{asset('Backend/vendor/datatables/dataTables.bootstrap4.js')}}"></script>

<!-- Custom scripts for all pages-->
<script src="{{asset('Backend/js/sb-admin.min.js')}}"></script>

<!-- Demo scripts for this page-->
<script src="{{asset('Backend/js/demo/datatables-demo.js')}}"></script>
<script src="{{asset('Backend/js/demo/chart-area-demo.js')}}"></script>



<script src="{{asset('Backend/vendor/jquery/jquery-3.2.1.min.js')}}"></script>

<script src="{{asset('Backend/vendor/bootstrap/js/popper.js')}}"></script>


<script src="{{asset('Backend/vendor/bootstrap/js/bootstrap.min.js')}}"></script>

<script src="{{asset('Backend/vendor/select2/select2.min.js')}}"></script>

<script src="{{asset('Backend/js/main.js')}}"></script>

<!-- Bootstrap core JavaScript-->
<script src="{{asset('Backend/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{asset('Backend/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{asset('Backend/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Page level plugin JavaScript-->
<script src="{{asset('Backend/vendor/chart.js/Chart.min.js')}}"></script>
<script src="{{asset('Backend/vendor/datatables/jquery.dataTables.js')}}"></script>
<script src="{{asset('Backend/vendor/datatables/dataTables.bootstrap4.js')}}"></script>

<!-- Custom scripts for all pages-->
<script src="{{asset('Backend/js/sb-admin.min.js')}}"></script>

<!-- Demo scripts for this page-->
<script src="{{asset('Backend/js/demo/datatables-demo.js')}}"></script>
<script src="{{asset('Backend/js/demo/chart-area-demo.js')}}"></script>



</body>

</html>
